{%extends 'shop/base.html'%}
{%load static%}
{%load i18n%}
{%block title%}

{%endblock%}

{%block content%}
<main>

<div class='product-detail'>
		<img src="{%if product.image%}{{product.image.url}}{%else%}{%static 'image/no_image.jpg'%}{%endif%}" alt="">
	<h1>{{product.name}}</h1>
	<h2><a href="{{product.category.get_absolute_url}}">{{product.category}}</a></h2>
	<p class='price'>{{product.price}}</p>
	<p>{{product.description|linebreaks}}</p>
</div>
<form action="{%url 'add-cart' product.id %}" method="post" >
	{%csrf_token%}
		{{product_form}}
		<input type="submit"  value="{%trans 'add to cart'%}">
	
</form>

{%if recommended_products%}
<h1>{%trans 'people who bought this also bought'%}</h1>
<hr>
<div class='recommendation'>

{%for product in recommended_products%}
<div class='item'>
	<a href="{%url 'product-detail' product.id product.slug %}"><img src="{{product.image.url}}"></a>
	<p>{{product.name}}</p>
</div>
{%endfor%}
</div>
{%endif%}

</main>
{%endblock%}